.firebase/
firestore.indexes.json
firestore.rules
firebase-debug.log
firebase-debug.*.log

/.idea/

/package-lock.json

# Service account credentials
expense-tracker-465819-7eb73db096aa.json
node_modules/
